@media only screen and (max-width: 700px){
    .navbar1 ul li{

    
        text-align: justify;
        margin-top: -2%;
        font-size: large;
        display: inline-block; 
        padding: 2em;
    }
    body{
        background-color: lightgrey;
    }
    .navbar2 ul li{
        text-align: justify;
        position: relative;
        left: 800px;
        list-style: none;
        bottom: 110px;
        padding: 40px;
        float: left;
    
    }
    .main1{
        background-image: url(/bg_720.png);
        width: 100%;
        height: 100vh;
        background-position: center;
        background-size: cover;
    }
    .both{
        display: flex;
    }
    .running{
        display: flex;
        gap: 4rem;
        margin-left: 5%;
        margin-right: 5%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .shoes1{
        width:300px ;
        height:200px ;
        display: flex;
        border-radius: 30%;
        
    }
    .shoes2{
        width: 150px;
        height: 100px;
        display: flex;
    }
        
    .shoes3{
        width: 150px;
        height: 100px;
        display: flex;
        ;
    }
    .puma{
        background-color: rgb(78, 169, 169);
        border-radius: 10%;
    }
    .nike{
        background-color:rebeccapurple;
        border-radius: 10%;
    }
    .adidas{
        background-color:royalblue;
        border-radius: 10%;
        
    }
    .collection{
        text-align: center;
    }
    .but1{
        background-color: red;
        border-radius: 15%;
    }
    .but2{
        background-color: red;
        border-radius: 15%;
    }
    .but3{
        background-color: red;
        border-radius: 15%;
    }
    .products{
        text-align: center;
    }
    .users{
        gap: 1.5rem;
        display: flex;
        margin-left: 2.5%;
    }
    .variety1{
        /* display: flex; */
        gap: 1rem;
        margin-left: 2.5%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .variety2{
        /* display: flex; */
        gap: 1rem;
        margin-left: 2.5%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .ultimate h1{
        font-size: 100%;
        position: relative;
        right: 240px;
    }
    .lorem{
        left: 250px;
        right: 240px;
    }
    .game{
         padding: -25px; 
    
    }
    .Offers{
        display: flex;
    
    }
    .offer1{
        display: flex;
        gap: 1rem;
    }
    .offer2{
        display: flex;
        gap: 1rem;
    }
    .arrivals{
        text-align: center;
    }
    .but4{
        background-color: red;
    }
    .testimonial{
        display: flex;
        gap: 17rem;
    }
    .footer{
        display: flex;
        gap: 2.5em;
        background-color: red;
        color: white;
        margin-top: 5%;
    }.Information{
            background-color: palevioletred;
            padding-top: 2.5%;
            text-align: center;
            margin-left: 100px;
            margin-right: 100px;
            border-radius:4.5%;
            margin-bottom: -50px;
        }
        .manpho{
            width: 10%;
            border-radius: 25%;
        }
        .me{
            color: brown;
        }
        .b1{
            background-color: red;
            border-radius: 10%;
            width: 15%;
            height: 5%;
        }
        .b2{
            background-color: red;
            border-radius: 25%;
            width: 5%;
            height: 5%;
        }
        .shoesa{
            gap: 5rem;
        }
        .see{
            color: red;
            border-radius: red;
            text-align: center;
        }
        .off1{
            color: red;
        }
        .off2{
            color: red;
        }
        .cost1{
            color: red;
        }
        .cost2{
            color: red;
        }
        .ee{
            border: solid red;
            color: red;
        }
        .body{
            overflow-x: hidden;
            overflow-y: scroll;
        }
        .sneaker1{
            width: 50%;
    
        
        }
        .sneaker2{
            width: 50%;
        }
        .now1{
            background-color: red;
            color: white;
        }
        .add1{
            border: red solid;
            color: red;
        }
        .now2{
            background-color: red;
            color: white;
        }
        .add2{
            border: red solid;
            color: red;
        }
        .man{
            position: relative;
            left: 8px;
            box-shadow: 0 12px 0 rgba(0,0,0,24),0 17px 50px 0 rgba(0,0,0,19);
            border-radius: 36px;
        }
        .play{
            background-color: black;
            color: white;
        }
        .store{
            background-color: black;
            color: white;
        }
        .foot{
            background-color: red;
            
        }
        .rights{
            text-align: center;
            color: white;
            font-weight: bolder;
        }
        .navbara ul li{
        
            text-align: justify;
            margin-top: -1%;
            font-size: large;
            display: inline-block; 
            padding: 1em;
        }
        .navbarb ul li{
            text-align: justify;
            position: relative;
            left: 400px;
            list-style: none;
            bottom: 55px;
            padding: 20px;
            float: left;
        }
        .monials{
            color: brown;
        }
        .home{
            position: relative;
            right: 296px;
        }
        .teamnike{
            display: flex;
        }
        .collection{
            color: red;
        }
        .off{
            color: red;
        }
        .chart{
            color: red;
    
        }
        .similarproducts{
        display: flex;
        gap: 1rem;
        margin-left: 2.5%;
        }
        .footer1{
        display: flex;
        gap: 2.5em;
        background-color: red;
        color: white;
        margin-top: 2.5%;
    
        }
        .ord{
            color: red;
            border-radius: red;
        }
        .to{
            background-color: red;
            color: white;
        }
        .duct1{
            background-color: whitesmoke;
        }
        .duct2{
            background-color: whitesmoke;
    
        }
    
        .duct3{
            background-color: whitesmoke;
    
        }
        .duct4{
            background-color: whitesmoke;
        }
        .whi1{
            background-color: whitesmoke;
        }
        .preview1{
            background-color: whitesmoke;
        }
        .preview8{
            background-color: whitesmoke;
        }
        .shoesa{
            background-color: white;
            padding: 11px 6px;
            border-radius: 1em;
    
        }
        .shoesb{
            background-color: white;
            padding: 11px 6px;
            border-radius: 1em;
            
        }
        .shoesc{
            background-color: white;
            padding: 11px 6px;
            border-radius: 1em;
            
        }
        .shoesd{
            background-color: white;
            padding: 11px 6px;
            border-radius: 1em;
        }
        .shoese{
            background-color: white;
            padding: 11px 6px;
            border-radius: 1em;
    
        }
        .shoesf{
            background-color: white;
            padding: 11px 6px;
            border-radius: 1em;
    
        }
        .shoesg{
            background-color: white;
            padding: 11px 6px;
            border-radius: 1em;
    
        }
        .shoesh{
            background-color: white;
            padding: 11px 6px;
            border-radius: 1em;
    
        }
        .force{
            width: 80%;
    
        }
        .low{
            width: 5%;
        }
        .simillar{
            gap: 1em;
            display: flex;
            display: grid;
            grid-template-columns: repeat(1,1fr);
        }
        .hill{
            padding: 11px 6px;
            background-color: white;
            border-radius: 1em;
            display: grid;
            grid-template-columns: repeat(1,1fr);

        }
        .products{
            font-size: 100%;
            font-weight: bold;
            text-align: center;
        }
        .wind{
            width: 50%;
            height: 50%;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .low1{
            width: 15%;
        }
        .low2{
            width: 15%;
        }
        .low3{
            width: 15%;
        }
        .nikeairforce{
            padding-left: 2.5%;
        }
        .material{
            padding-right: 15%;
    
        }
        .up{
            padding: 15%;
            border-radius: 15%;
        }
        .navbar3 ul li{
        
            text-align: justify;
            margin-top: -1%;
            font-size: large;
            display: inline-block; 
            padding: 1em;
        }
        .navbar4 ul li{
            text-align: justify;
            position: relative;
            left: 400px;
            list-style: none;
            bottom: 55px;
            padding: 20px;
            float: left;
        }
        
        .story{
            display: flex;
            margin-left: 25px;
        }
        .vision{
            display: flex;
        }
        .Approach{
            display: flex;
            margin-right: 25px;
            gap: 2.5rem;
            margin-left: 25px;
        
        }
        .j3{
            height: 200px;
            width: 200px;
    
        }
        .footer11{
            display: flex;
            gap: 2.5em;
            background-color: red;
            color: white;
            margin-top: 2.5%;
        
         }
         .footeb{
            display: flex;
            gap: 2.5em;
            background-color: red;
            color: white;
            margin-top: 5%;
         }
        .pair{
            position: relative;
            right: 225px;
            top: 35px;
        
            
        }
        .story1 {
            background-color: blue;
            position: relative;
            width: 200%;
            right: 520px;
            height: 45px;
            font-size: 50%;
            
            
            /* margin-right: 50px;
            display: flex;
            gap: 5rem;
            margin-left: 50px; */
    
        }
        .vision{
            display: flex;
            margin-right: 25px;
            gap: 2.5rem;
            margin-left: 25px;
            margin-top: 7%;
    
        }
        .ai{
            height: 200px;
            width: 200px;
        }
        .navbar5 ul li{
        
            text-align: justify;
            margin-top: -1%;
            font-size: large;
            display: inline-block; 
            padding: 1em;
        }
        .navbar6 ul li{
            text-align: justify;
            position: relative;
            left: 400px;
            list-style: none;
            bottom: 55px;
            padding: 20px;
            float: left;
        }
        .holder{
            margin-left: 2.5%;
    
        }
        .fname1{
            margin-right: 10%;
            padding: 10px;
            background-color: white;
            border-radius: 7.5px;
            margin-top: 10px;
    
    
            
        }
        .fname2{
            margin-left: 17%;
            padding: 10px;
            background-color: white;
            border-radius: 7.5px;
            margin-top: 10px;
        }
        .fname3{
            margin-left: 17%;
            padding: 10px;
            background-color: white;
            border-radius: 7.5px;
            margin-top: 10px;
        }
        .fname4{
            margin-left: 17%;
            padding: 10px;
            background-color: white;
            border-radius: 7.5px;
            margin-top: 10px;
        }
        .fname5{
            margin-left: 17%;
            padding: 10px;
            background-color: white;
            border-radius: 7.5px;
            margin-top: 10px;
        }
    
    
        #profile{
            margin-left: 50%;
        }
        .red{
            float: right;
            width: 150px;
            height: 350px;
            background-color: red;
            border-radius: 200px/200px 0px 0px 200px;
        }
        /* .simillar div{
            display: grid;
            grid-template-columns: repeat(3,1fr);
        }

        @media only screen and(max-width:700px){
            .simillar{
                display: grid;
                grid-template-columns: repeat(1, 1fr);
            }
            
        } */